.fillImg {
  &:hover::before {
    border-top: 2px solid #0080c1;
    border-left: 2px solid #0080c1;
  }
}

// ========== activ ========
.circleActive {
  background-color: #ffffff;
}
.imgBarMobCircle:active {
  background-color: #ffffff;
}

.fillImg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 480px;
  height: 480px;
  background-color: #f0f0f0;
  margin: 0 5px;

  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.imgBarMob {
  display: none;
}

.imgBar {
  margin-top: 30px;
  width: 490px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  margin-left: -5px;
}

.imgBarDiv {
  width: 88px;
  min-width: 88px;
  height: 88px;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  margin: 0 5px;

  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .fillImg {
    max-width: 100%;
    overflow: hidden;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      background-color: transparent;
      border-top: 2px solid #000000;
      border-left: 2px solid #000000;
      transform: rotate(-45deg);
      position: absolute;
      top: 24px;
      left: 32px;
      cursor: pointer;
    }
  }

  .img {
    width: 100%;
    min-width: 320px;
    max-height: 320px;
    margin: 0 0px;
  }

  .imgBar {
    display: none;
  }

  .imgBarMob {
    display: block;
    width: 68px;
    height: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - (68px / 2));
    display: flex;
    justify-content: space-between;
  }

  .imgBarMobCircle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
}
