.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 10px 79px;
}

@media screen and (max-width: 890px) {
  .container {
    padding: 0px 0px 84px;
  }

  .center-block {
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    display: none;
  }

  .container {
    padding: 85px 0px 84px;
  }
  
  .centerBlock {
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer {
    display: flex;
  }
}
