.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  display: none;
}

.container {
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 42px;
  height: 42px;

  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
